.image-popup__close-btn {
  width: 25px;
  height: 25px;
  position: absolute;
  top: -25px;
  right: -28px;
}

.image-popup__close-btn:hover{
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 925px) {
  .image-popup__close-btn {
    top: -30px;
    right: 122px;
  }
}

@media screen and (max-width: 650px) {
  .image-popup__close-btn {
    top: -30px;
    right: 205px;
  }
}