.element__heart {
  border: none;
  background-image: url(../../../images/__heart.png);
  background-repeat: no-repeat;
  background-position: right;
  width: 29px;
  height: 19px;
  background-color: #FFFFFF;
  padding: 10px;
  cursor: pointer;
}

.element__heart:hover {
  opacity: 0.6;
}