.element__heart {
  border: none;
  background: url(../../../images/__heart.png) center no-repeat;
  width: 29px;
  height: 19px;
  background-color: #FFFFFF;
  padding: 10px;
  cursor: pointer;
}

.element__heart:hover {
  opacity: 0.6;
}

