.element__trash{
	background: transparent;
	background-image: url(../../../images/__trash.png);
	border: none;
	position: absolute;
  right: 15px;
  top: 18px;
	width: 18px;
	height: 19.3px;
	cursor: pointer;
}

.element__trash:hover {
	opacity: 0.6;
}