.profile__about-me {
  margin-bottom: 0;
}

@media screen and (max-width: 850px){
  .profile__about-me {
    align-self: center;
    margin-bottom: 35px;
  }
}

@media screen and (max-width: 675px){
  .profile__about-me {
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  }
}